{% extends 'base.twig' %}
{% block content %}
    <section>
        <div class="container-detail">
            <div class="single">
                <article>
                    <div class="article-header">
                        <h1>{{ post.title }}</h1>
                        <a class="button edit-button" href="/edit/{{ post.slug }}">Edit Post</a>
                    </div>
                    <time datetime="{{ post.date }}">
                        Posted on {{ post.date|date("F j, Y \\a\\t H:i") }}
                    </time>
                    <!-- Display update date if exists -->
                    {% if post.update_date is not empty %}
                        <h4>Last update: {{ post.update_date|date("F j, Y \\a\\t H:i") }}</h4>
                    {% endif %}
                    <!-- Display tags if exist -->
                    {% if tags is not empty %}
                        <div class='tags-list'>
                            {% for tag in tags %}
                                <a href='/tag?tag={{ tag.id }}' class='button button-tag'>{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    {% endif %} 
                    <div class="entry">
                        <p>{{ post.body }}</p>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section class="entry-comments">
        <div class="container">
            <h2>Comments</h2>
            <!-- Display comments if exist -->
            {% if comments is not empty %}
                {% for comment in comments %}
                    <div class="comment">
                        <div class="comment-header">
                            <div class="comment-info">
                                <strong>{{ comment.name }}</strong>
                                <time datetime="{{ comment.date }}">
                                    {{ comment.date|date("F j, Y \\a\\t H:i") }}
                                </time>
                            </div>
                            <form action="/comment/delete" method="POST"
                                onsubmit="return confirm('Are you sure you want to delete this comment?')">
                                <input type='hidden' value='{{ comment.id }}' name='comment_id' />
                                <input type='hidden' value='{{ post.id }}' name='post_id' />
                                <input type='hidden' value='{{ post.slug }}' name='slug' />
                                <input type='submit' class='button button-delete' value='delete' />
                            </form>
                        </div>
                        <p>{{ comment.body }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <div class="comment">
                    <h4>No comments yet. Post the first comment!</h4>
                </div>
            {% endif %}
            
            <div class="new-comment">
                <form method="POST" action="/comment/new" class="comment-form">
                    <label for="name"> Name</label>
                    <input type="text" name="name"><br>
                    <label for="comment">Comment</label>
                    <textarea rows="5" name="body"></textarea>
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <input type="hidden" name="slug" value="{{ post.slug }}">
                    <input type="submit" value="Post Comment" class="button">
                </form>
            </div>
        </div>
    </section>
{% endblock %}