{% set uri = '/tag?tag=' ~ tagId ~ '&' %}
{% extends 'base.twig' %}
{% block content %}

<div class="tags-control">
    <!-- Display the form to select a tag and the buttons to update or delete the selected tag -->
    <form action="tag" method="post">
        <select name="tag">
        <option value="">Select a tag</option>
        {% for tag in tagsList %}
            {% if tagId is not empty and tag == tagName %}
                <option value='{{ tag }}' selected>{{ tag }}</option>
            {% else %}
                <option value='{{ tag }}'>{{ tag }}</option>
            {% endif %}
        {% endfor %}
        </select>
        <input class="button list-button" type="submit" name="action" value="List Entries" />
        <input class="button edit-button" type="submit" name="action" value="Update" />
        <input class="button button-delete" type="submit" name="action" value="Delete" onclick="return confirm('Are you sure you want to delete the selected tag?')" />
    </form>
</div>
<section>
    <div class="container-tags">

<!-- Display list of entries with the selected tag  -->
        {% if posts is not empty %}
            {% if pagination.count > 0 %}
                {% if pagination.count == 1 %}
                    <h3>{{ pagination.count }} post with the tag: {{ tagName }}</h3>
                {% else %}
                    <h3>{{ pagination.count }} posts with the tag: {{ tagName }}</h3>
                {% endif %}
                {{ include('inc/postsList.twig') }}
            {% else %}
                <h4>No entries with the tag: {{ tagName }}</h4>
            {% endif %}    
        {% endif %}
    </div>
</section>
    
{% endblock %}