<div class="entry-list">
    {%  for post in posts %}
        <article>
            <h2>
                <a href="/detail/{{ post.slug }}">{{ post.title }}</a>
            </h2>
            <time datetime="{{ post.date }}">
                {{ post.date|date("F j, Y \\a\\t H:i") }}
            </time>
            <p class="excerpt">{{ post.body[0:200] }}
            <a href="/detail/{{ post.slug }}">[Read more...]</a></p>
            <!-- Display all the tags for te current entry -->
            {% if post.tags is not empty %}
                <div class='tags-list'>
                {% for tag in post.tags %}
                    <a href='/tag?tag={{ tag.id }}' class='button button-tag'>{{ tag.name }}</a>
                {% endfor %}
                </div>
            {% endif %}
        </article>
    {% endfor %}
    {% if pagination.needed %}
        <div class="pagination">
            {% for i in 1..pagination.lastpage %}
                <a class="{% if i == pagination.page %}active{% endif %} item" href="{{ uri }}page={{ i }}">
                    {{i}}
                </a>
            {% endfor %}
        </div>
    {% endif %}
</div>

